{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-success">
    {{ message}}
</div>
{% endfor %}
<div class="container">
    <div class="jumbotron">
        {{wtf.quick_form(pitch_form)}}
    </div>
</div>


<div class="container">
    <div class="row">
        {% for pitch in pitch %}
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="table-container">
                    <table class="table table-filter">
                        <tbody>
                            <tr data-status="pagado">
                                <td>
                                    <div class="media">
                                        <div class="media-body">
                                            <h4 class="title">{{ pitch.actual_pitch }}..</h4>
                                            <a href="/comments/{{pitch.id}}" class="btn btn-outline-dark">Comments</a>
                                            <a class="btn btn-outline-dark text-center" href="/pitch/comments/new/{{pitch.id}}">Add
                                                Comment</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endfor %}
        {% for pitch in pickuplines %}
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="table-container">
                    <table class="table table-filter">
                        <tbody>
                            <tr data-status="pagado">
                                <td>
                                    <div class="media">
                                        <div class="media-body">
                                            <h4 class="title">{{ pitch.actual_pitch }}..
                                            </h4>
                                            <a href="/comments/{{pitch.id}}" class="btn btn-outline-dark">Comments</a>
                                            <a class="btn btn-outline-dark text-center" href="/pitch/comments/new/{{pitch.id}}">Add
                                                Comment</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endfor %}

        {% for pitch in interview %}
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="table-container">
                    <table class="table table-filter">
                        <tbody>
                            <tr data-status="pagado">
                                <td>
                                    <div class="media">
                                        <div class="media-body">
                                            <h4 class="title">{{ pitch.actual_pitch }}..
                                            </h4>
                                            <a href="/comments/{{pitch.id}}" class="btn btn-outline-dark">Comments</a>
                                            <a class="btn btn-outline-dark text-center" href="/pitch/comments/new/{{pitch.id}}">Add
                                                Comment</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endfor %}

        {% for pitch in promotion %}
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="table-container">
                    <table class="table table-filter">
                        <tbody>
                            <tr data-status="pagado">
                                <td>
                                    <div class="media">
                                        <div class="media-body">
                                            <h4 class="title">{{ pitch.actual_pitch }}..
                                            </h4>

                                            <a href="/comments/{{pitch.id}}" class="btn btn-outline-dark">Comment</a>
                                            <a class="btn btn-outline-dark text-center" href="/pitch/comments/new/{{pitch.id}}">Add
                                                Comment</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}